{% extends 'base.html.twig' %}

{% block title %}{{ parent()}}Nos cours{% endblock %}

{% block body %}
    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <main class="container">
        <!-- Categories -->
        <section id="courses">
         {#   <h2 class="my-5 text-black-50">Toutes nos catégories</h2>#}
            <div class="row">
                <!-- FILTERIZER CONTROLS -->
                <div class="col-md-12 controls-filter">

                    <ul class="mt-5">
                        <!-- For filtering controls add -->
                        <li data-filter="all" class="btn bg-dark text-light"> All items </li><br>
                        {% for category in categories %}
                        <li data-filter="{{ category.id }}" class="btn btn-outline-dark"> {{ category.name }} </li>
                        {% endfor %}

                    </ul>

                </div>


                <!-- FILTERIZER COURSES -->
                <div class="row filter-container d-flex justify-content-between flex-wrap">
                    <!-- Card -->
                    {% for course in courses %}
                    <div class="col-md-4 mt-4 mb-4 filter-item " data-category="{{ course.category.id }}" data-sort="value">
                        <div class="card h-100" >
                            <img class="text-center" alt="" src="{{ asset('img/sections/') ~ course.image }}">
                            <div class="card-body">


                                <h4 class="text-center">{{ course.name }}</h4>

                                <p>{{ course.smallDescription }}</p>
                                <p>Niveau: {{ course.level.name }}</p>
                                <div class="text-center">
                                    <a class="btn btn-outline-dark " href="{{ path('course', {'slug': course.slug}) }}">Voir ce cours</a>
                                </div>
                            </div>
                        </div>
                    </div>

                        {#
                        <div class="col-md-4">
                            <div class="card h-100">
                                <img alt="" src="{{ asset('img/sections/') ~ course.image }}">

                                <div class="card-body">
                                    <h5 class="card-title">{{ course.name }}</h5>
                                    <p class="card-text"> {{ course.smallDescription }}</p>
                                    <a class="btn btn-outline-dark " href="{{ path('course', {'slug': course.slug}) }}">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                        #}
                    {% endfor %}
                    <!-- End cards -->
                </div>
            </div>
        </section>
        <!-- End Categories -->
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script>
{% endblock %}
