{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}Votre cours{% endblock %}

{% block body %}
    <main class="container course">
        <section id="detail">
            <h2 class="my-5">{{ course.name }}</h2>
            {# TABS #}
            <ul class="nav nav-tabs ">
                <li class="nav-item">
                    <a class="nav-link text-secondary" data-bs-toggle="tab" href="#profil">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" data-bs-toggle="tab" href="#details">Détail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" data-bs-toggle="tab" href="#comments">Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" data-bs-toggle="tab" href="#postcomments">Postez un commentaire</a>
                </li>

            </ul>
            {# Contents #}
            <div id="myTabContent" class="tab-content my-4">
                <div class="tab-pane fade show active" id="profil">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ asset('img/sections/') ~ course.image }}" alt="{{ course.name }}">
                        </div>
                        <div class="col-md-7">
                            <h4>Description</h4>
                            <p>{{ course.smallDescription }}</p>
                            <h4>Informations</h4>
                            <p class="description">
                                Cours créé le {{ course.createdAt|date('d/m/Y') }}<br>
                                Prix: {{ course.price|format_currency('EUR') }}<br>
                                Durée: {{ course.duration }} minutes<br>
                                Catégorie: {{ course.category.name }}<br>
                                Horaire: {{ course.schedule }}<br>
                                Niveau: <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="{{ course.level.prerequisite }}" >
                                    {{ course.level.name }}
                                </button>



                            </p>
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('cart_add',{'id':course.id}) }}" class="btn btn-outline-primary">Ajouter au panier</a>

                            {% else %}
                                <p>Vous devez être connecté pour pouvoir ajouter ce cours à votre panier</p>
                                <p>&nbsp;</p>
                                <a href="{{ path('login') }}" class="btn btn-outline-primary">Login</a> <a href="{{ path('app_register') }}" class="btn btn-outline-primary">S'enregistrer</a>
                            {% endif %}


                        </div>



                    </div>
                </div>
                <div class="tab-pane fade" id="details">

                    <h4>Description complète</h4>
                    <p>{{ course.fullDescription }}</p>
                    <p><a href="{{ asset('img/pdf/') ~ course.program }}" class="btn btn-primary">Télécharger le programme</a></p>
                </div>


                <div class="tab-pane fade" id="comments">
                    {% if course.comments|length > 0 %}
                        {% set totRating = null %}
                        {% set moyenne = totRating/(course.comments|length) %}
                        <h4>{{ course.comments|length }} Commentaires:</h4>


                    {% for comment in course.comments %}
                    <h5>{{ comment.title|capitalize }}</h5>
                    <h6>{{ comment.author.firstName }} {{ comment.author.lastName }}</h6>
                    <h6 class="text-muted">Ajouté le {{ comment.createdAt|date('d/m/Y')}} &nbsp;&nbsp;
                        {# notation par étoiles #}
                        {% include 'partials/rating.html.twig' %}
                    </h6>
                    <p>{{ comment.comment }}</p>
                    <hr>

                        {% set totRating = totRating + comment.rating%}
                    {% endfor %}
                    {% set moyenne = totRating/(course.comments|length) %}

                    {% if course.comments|length > 1 %}
                    <h4>Note Moyenne: <span class="badge bg-secondary">{{ moyenne|number_format}}   </span></h4>
                        {% else %}
                            <p>Note Moyenne: Pas assez de commentaire pour calculer la moyenne</p>
                    {% endif %}

                    {% else %}
                    <h5>Aucun commentaire</h5>
                    {% endif %}

                </div>




                {% set  commentsUser = null%}

                {% if course.comments|length >0 and  is_granted('ROLE_USER')%} %}

                {% for comment in course.comments %}
                    {% if comment.author.id is same as(app.user.id)%}
                        {% set commentsUser = commentsUser + 1 %}
                    {% endif %}
                {% endfor %}

                    {% endif %}




                {% if is_granted('ROLE_USER') and  commentsUser >0%}

                <div class="tab-pane fade" id="postcomments">
                    <div class="row">
                        <div class="col-md-6 offset-3">
                    <p class="text-center"> Vous ne pouvez poster plus de 2 commentaires par cours</p>

                        </div>
                        </div>
                        </div>
                        {% elseif is_granted('ROLE_USER') and  commentsUser|length == 0%}
                            <div class="tab-pane fade" id="postcomments">
                                <div class="row">
                                    <div class="col-md-6 offset-3">
                                        {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        <button type="submit" class="btn btn-secondary form-control">Poster</button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>

                            {% else  %}
                                <div class="tab-pane fade" id="postcomments">
                                    <div class="row">
                                        <div class="col-md-6 offset-3">
                                            <p>Vous devez être connecté pour poster un commentaire</p>
                                            <a href="{{ path('app_register') }}" class="btn btn-outline-primary">Login</a> <a href="" class="btn btn-outline-primary">S'enregistrer</a>



                                        </div>
                                    </div>
                                </div>
                            {% endif %}





            </div>
        </section>
    </main>
{% endblock %}

