{% extends 'base.html.twig' %}

{% block title %}{{ parent()}}Les différents niveaux{% endblock %}

{% block body %}
    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <main class="container">
        <!-- Categories -->
        <section id="courses">
            <div>
            <h2 class="my-5 text-black-50">Les différents niveaux</h2>
            <div class="row">

                {% for level in levels %}


                            <div class="card-header bg-light">
                                <h5 class="text-center">{{ level.name }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">

                                <p>{{ level.prerequisite }}</p>

                            </div>


                {% endfor %}

                </div>
            </div>
        </section>

    </main>
{% endblock %}

