{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}


    <div class="container">


        <section>

            <div class="text-center">
            <h2 class="display-4 text-center m-5 fw-lighter">About</h2>

            <h4 class="mb-3"> Lorem ipsum dolor sit amet. Aut repellat evenie vo</h4>
            <p class="text-center">
                Lorem ipsum dolor sit amet. Aut repellat eveniet non iste maiores vel aperiam adipisci aut voluptatem velit. Et maxime omnis ea dolor corporis sit enim ipsum eos veritatis voluptate a magnam ratione quo incidunt molestias. Qui repellat magni ut voluptates fugiat eos rerum fugit qui culpa voluptas aut dolorum ipsum in quas rerum et sunt magnam. Sed officia deleniti et obcaecati accusantium sit deleniti exercitationem qui voluptatem eveniet.
            </p>
    </div>
        </section>

    </div>

{% endblock %}
