{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Panier{% endblock %}

{% block body %}


{% if panier|length > 0  %}

<main class="mt-5 text-center">

  <h2 class="display-4 text-center m-5 fw-lighter">Panier</h2>
  <table class="table  w-75 mx-auto mt-3">
    <thead>
    <tr>

      <th></th>
      <th scope="col">Cours</th>
      <th scope="col">Duree</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Niveau</th>
      <th scope="col">Prix</th>
      <th scope="col"></th>

    </tr>
    </thead>
    <tbody>
    {% set total = null %}
    {% for course in panier %}
    <tr>
      <th><img src="{{ asset('img/sections/') ~ course.course.image }}" alt="{{ course.course.name }}" height="75px " class="rounded"></th>
      <td>{{ course.course.name }}</td>
      <td>{{ course.course.duration }}h</td>
      <td>{{ course.course.category.name }}</td>
      <td>{{ course.course.level.name }}</td>
      <td>{{ course.course.price|number_format(2, '.', ',') }}€</td>
      <td><a href="{{ path('cart_removeItem',{'id':course.course.id})  }}" class="btn btn-outline-primary" ><i class="icofont-ui-delete"> </i></a></td>
      {% set total = total + course.course.price %}
    {% endfor %}

    </tr>


    </tbody>
  </table>
<div class="text-md-end w-75 mx-auto mt-3">
  <p>Nombre de cours choisis: {{ panier|length }}</p>
  <p>Total: {{ total|number_format(2, '.', ',') }}€</p>
  <a href="{{ path('order') }}" class="btn btn-outline-primary" >Valider le panier</a>
</div>

  </main>

  {% else %}
<main class="mt-5 text-center">
<div class="mx-auto text-center mt-5">
  <h3>Votre Panier est vide</h3>
    <p>Découvrez tous nos cours disponibles ici !  <a href="{{ path('courses')  }}" class="btn btn-outline-dark" >Tous nos cours </a></p>
    </div>
</main>

  {% endif %}

{% endblock %}
