{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Users{% endblock %}

{% block body %}
    <h2 class="display-6  my-5 fw-lighter text-black-50">Gestion des Admins</h2>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <td>Image</td>
            <td>Nom</td>
            <td>Creation</td>
            <td>Email</td>
            <td>Role</td>
            <td>Actions</td>

        </tr>
        </thead>
        <tbody>

        {% for admin in admins %}
            {% if admin.roles|json_encode =='["ROLE_ADMIN"]' or admin.roles|json_encode =='["ROLE_SUPER_ADMIN"]' %}
            <tr>
                <td><img src="{{ asset('img/avatar/') ~ admin.image }}"  alt="" class="admin-img"></td>
                <td>{{ admin.firstName }}{{ admin.lastName }}</td>
                <td>{{ admin.createdAt|date('d/m/Y') }}</td>
                <td>{{ admin.email }}</td>
                <td>
                    {% for roleuser in admin.getRoles()%}
                        {% if roleuser == 'ROLE_ADMIN' or roleuser == 'ROLE_SUPER_ADMIN'%}
                            {{ roleuser}}
                        {% endif %}
                    {% endfor %}
                <td>
                    <a href="{{ path('admin_edit-user', {'id': admin.id}) }}" class="text-success"><i class="icofont-ui-edit"></i></a>&nbsp;

                   {# <a href="{{ path('admin_del_user', {'id': admin.id}) }}" class="text-danger"><i class="icofont-ui-delete"></i></a>&nbsp;#}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
