{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block body %}

    <main class="container">
        <div class="text-center mt-5" >
            <h2>Erreur de paiement</h2>
            <p>
                Il semblerait que votre paiement pour votre commande n°<strong>{{ order.reference }}</strong> ait échoué... <br>
                Un mail vous a été envoyé à l'adresse <strong>{{ order.user.email }}</strong>
            </p>

            <hr>

            <a href="{{ path('order') }} " class="btn btn-outline-dark btn-sm">Réessayer le paiement</a>
            <p>Retrouvez toutes vos commandes dans votre espace membre</p>

        </div>
    </main>
{% endblock %}
