{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block body %}
    <!-- Slider -->
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/slider/slider01.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider02.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider03.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <!-- End Slider -->

<!-- Latest courses -->
<main class="container">


    <section class="home-courses">
        <h2 class="display-6  my-5 fw-lighter text-black-50">Nos dernières formations</h2>


        <div class="row">
            {% for course in courses  %}
            <div class="col-md-4">
                <div class="card h-100">
                    <img alt="" src="{{ asset('img/sections/') ~ course.image }}">

                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text"> {{ course.smallDescription }}</p>
                        <a class="btn btn-outline-dark " href="{{ path('course', {'slug': course.slug}) }}">En savoir plus</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </section>
    <!-- End Latest courses -->

    <!-- Latest news -->
    <div class="home-news">

        <h2 class="display-6  my-5 fw-lighter text-black-50">Nos dernières actualités</h2>
        <div class="row">

            {% for new in news %}
                {% if date(new.createdAt) > date('-30days') %} {# Les news les plus récentes #}
                    {# do something #}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                     {#        <img src="http://placehold.it/400X450" class="img-fluid rounded-start" alt="...">#}
                            <img src="{{ asset('img/news/') ~ new.image }}" alt="{{ new.name }}" class="card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> {{ new.name }}</h5>
                                <p class="card-text">{{new.content}}</p>
                                <p class="card-text"><small class="text-muted">{{ new.updatedAt|date('d/m/y') }}</small></p>
                               {#  <p class="float-end"><small><a href="{{ path('news',{'new':new.id}) }}">Lire plus...</a></small></p>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
        <a href="{{path('news')}}" class="btn btn-outline-dark ">Toutes les news</a>
    </div>
    <!-- End Latest news -->

    <!-- Cool Links -->
    <section>
        <h2 class="display-6  my-5 fw-lighter text-black-50">Informations importantes</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-calendar"></i> HORAIRES</div>
                    <div class="card-body">
                        <h4 class="card-title">Horaires de 2019-2020</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-info-square"></i> INFORMATIONS</div>
                    <div class="card-body">
                        <h4 class="card-title">Scéance d'informations</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-ui-edit"></i> INSCRIPTION</div>
                    <div class="card-body">
                        <h4 class="card-title">Documents d'inscription</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Cool Links -->
</main>
{% endblock %}
