{# Footer #}
<footer class="mt-auto bg-dark ">
    <h4 class="text-light">Restez en contact</h4>

    <div class="d-flex justify-content-between">

        <div class="mx-3">
    <p class="text-light">
        &copy;WebLearning 2021-2022 All right reserved
        <a href=""  class="btn text-light">Privacy</a>
        <a href="" class="btn text-light">Terms</a>
    </p>

    </div>

        <div class="mx-3">
            <a href="" class="text-secondary"><i class="icofont-facebook"></i></a>
            <a href="" class="text-secondary"><i class="icofont-google-plus"></i></a>
            <a href="" class="text-secondary"><i class="icofont-instagram"></i></a>
            <a href="" class="text-secondary"><i class="icofont-linkedin"></i></a>
            <a href="" class="text-secondary"><i class="icofont-line-messenger"></i></a>
            <a href="" class="text-secondary"><i class="icofont-twitter"></i></a>
            <a href="" class="text-secondary"><i class="icofont-youtube"></i></a>
        </div>

    </div>
</footer>
{# End footer #}