<header >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Web School</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home') }}">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('courses') }}">All courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('news') }}">All News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('teacher') }}">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">

                {% if not app.user %}
                <a href="{{ path('login') }}" class="btn btn-outline-light "><i class="icofont-login"></i> S'identifier</a>
            </li>
            <li class="nav-item">
                &nbsp;<a href="{{ path('app_register') }}" class="btn btn-light text-dark"><i class="icofont-user-alt-4"></i> S'enregistrer</a>
            </li>
            {% else %}

                <div class="d-flex justify-content-between align-items-baseline mx-3">

                <a class="text-decoration-none text-light mx-3" href="{{ path('cart_index') }}"><i class="icofont-shopping-cart icofont-2x"> </i>  </a>

                <div class="dropdown ">

                    <button class="btn btn-outline-light dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('img/avatar/') ~ app.user.image }}" alt="" class="avatar-mini">
                        {{ app.user.firstName }} {{ app.user.lastName }}
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                        <li><a class="dropdown-item" href="{{ path('profil') }}">Mon compte</a></li>
                        <li><a class="dropdown-item" href="{{ path('edit_profil') }}">Modifier profil</a></li>
                        <li><a class="dropdown-item" href="{{ path('edit_password') }}">Modifier password</a></li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="{{ path('admin_courses') }}">Administration</a></li>
                        {% endif %}

                        <div class="dropdown-divider"></div>
                        <li><a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a></li>
                    </ul>

                </div>

    </div>
            {% endif %}
        </ul>
    </div>
</nav>
{# Affichage du message flash #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

</header>
