{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}


   <div class="container">

<h2 class="display-4 text-center m-5 fw-lighter">Une équipe d'experts à votre service</h2>

<div class="d-flex justify-content-between flex-wrap p-5">

           {% for teacher in teachers %}


               <div class="p-3 text-center" style="width: 18rem;">

                   {% set nbcours = null %}
                   {% for course in courses %}
                       {% if course.teacher.id is same as teacher.id%}
                           {%  set nbcours = nbcours + 1 %}
                       {% endif %}
                   {% endfor %}

                   {% if nbcours|length >=1 %}
                   <img src="{{ asset('img/teachers/') ~ teacher.image }}" class="card-img-top img-fluid rounded-circle border border-dark  " style="object-fit: cover;width: 150px; /* You can set the dimensions to whatever you want */
    height: 150px;" alt="..." data-toggle="tooltip" data-placement="top" title="
                        {% for course in courses %}
                        {% if course.teacher.id is same as teacher.id%}
                           {{ course.name }}
                        {% endif %}
                        {% endfor %}
                       ">
                       {% else %}
                           <img src="{{ asset('img/teachers/') ~ teacher.image }}" class="card-img-top img-fluid rounded-circle border border-dark  " style="object-fit: cover;width: 150px; /* You can set the dimensions to whatever you want */
    height: 150px;" alt="..." >
                   {% endif %}


                   <div class="card-body">
                       <h5 class="card-title">{{ teacher.firstName }}{{ teacher.lastName }}</h5>

                       <a href="#" class="card-link text-black text-decoration-none"> <i class="icofont-linkedin"></i></a>
                       <a href="#" class="card-link text-black text-decoration-none"><i class="icofont-facebook"></i></a>
                       <a href="#" class="card-link text-black text-decoration-none"><i class="icofont-github"></i></a>
                   </div>
                   <a href="{{ path('teacher_info', {'id': teacher.id}) }}" class="btn-sm btn btn-outline-dark fw-bold rounded-3">+</a>
               </div>


           {% endfor %}


{% endblock %}