{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}


    <div class="container">






                <div class="m-5 text-center" >

                    <img src="{{ asset('img/teachers/') ~ teacher.image }}" class=" rounded-circle border border-dark" style="object-fit: cover;width: 300px; /* You can set the dimensions to whatever you want */
    height: 300px;" alt="...">



                    <div class="card-body">
                        <h3 class="display-4 m-5 fw-lighter">{{ teacher.firstName }} {{ teacher.lastName }}</h3>

                        <p>Cours donnés par {{ teacher.firstName }}:</p>

                        {% for course in courses %}
                        {% if course.teacher.id is same as teacher.id%}
                            <strong>-{{ course.name }}-</strong> <br>
                        {% endif %}
                        {% endfor %}


                        <p class="card-text">{{ teacher.description}}</p>
                        <p class="card-text">{{ teacher.email}}</p>
                        <a href="#" class="card-link text-black text-decoration-none"> <i class="icofont-linkedin icofont-2x"></i></a>
                        <a href="#" class="card-link text-black text-decoration-none"><i class="icofont-facebook icofont-2x"></i></a>
                        <a href="#" class="card-link text-black text-decoration-none"><i class="icofont-github icofont-2x"></i></a>
                    </div>
                    <a href="{{ path('teacher') }}" class="btn btn-outline-dark btn-sm">Retour</a>

                </div>


    </div>





{% endblock %}

