body{
    font-family: Poppins, sans-serif;
    font-weight: 900;
    font-size: 90%;
    color: red;
}



.navbar-brand {
    padding-right: 28px;
}

.banner {
    height: 300px;
    background: url("../img/banner/ban01.jpg") no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.home-news a {
    color: #325D88;
    text-decoration: none;
}
/* Detail */
.course {
    min-height: 600px;
}

/* Footer */
footer {
    width: 100%;
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    bottom: 0;


}

footer h4 {
    padding-bottom: 1.2rem;
    color: #418376;
}

footer a {
    padding: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
}

footer a:hover {

}

/* Filterizer */
.filtr-item img {
    width: 100%;
    height: 200px;
    filter: grayscale(100%);
}

.controls-filter {
    margin-bottom: 26px;
    color: red;
}

/* Form login */
.login-form {
    min-height: 70vh;
}

/* avatars dropdown */
.avatar-mini {
    width: 40px;
    border-radius: 50%;
}

.alert {
    margin-bottom: 0;
}

.img-news {
   height: 500px;
}