<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h2 class="display-6  my-5 fw-lighter text-black-50">Sections</h2>
            <div class="accordion" id="accordionExample">
                {# Courses #}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="icofont-page"></i> Les cours
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <a href="{{ path('admin_courses') }}">Gestionnaire des formations</a>
                        </div>
                    </div>
                </div>
                {# Comments #}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           <i class="icofont-speech-comments"></i> Les commentaires
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <a href="{{ path('admin-comments') }}">Gestionnaire des commentaires</a>
                        </div>
                    </div>
                </div>
                {# news #}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="icofont-news"></i> News
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <a href="{{ path('admin-news') }}">Gestionnaire des News</a>
                        </div>
                    </div>
                </div>
                {# Users #}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="icofont-user-alt-6"></i> Les utilisateurs
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <a href="{{ path('admin-users') }}">Gestionnaire des utilisateurs</a><br>
                            <a href="{{ path('admin-admins') }}">Gestionnaire des Administrateurs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">

