{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Users{% endblock %}

{% block body %}

    <h2 class="display-6  my-5 fw-lighter text-black-50">Gestion des Utilisateurs</h2>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <td>Image</td>
            <td>Nom</td>
            <td>Creation</td>
            <td>Email</td>
            <td>Role</td>
            <td>Actions</td>

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><img src="{{ asset('img/avatar/') ~ user.image }}"  alt="" class="admin-img"></td>
                <td>{{ user.firstName }}{{ user.lastName }}</td>
                <td>{{ user.createdAt|date('d/m/Y') }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for roleuser in user.getRoles()%}
                        {% if roleuser == 'ROLE_USER' or roleuser == 'ROLE_ADMIN' or roleuser == 'ROLE_SUPER_ADMIN'%}
                    {{ roleuser}}
                        {% endif %}
{% endfor %}
                </td>
                <td>
                    {% if user.roles|json_encode =='["ROLE_ADMIN"]' or user.roles|json_encode =='["ROLE_SUPER_ADMIN"]' %}
                    <a href="{{ path('admin_edit-user', {'id': user.id}) }}" class="text-success"><i class="icofont-ui-edit"></i></a>&nbsp;
                    {% else  %}
                        <a href="{{ path('admin_edit-user', {'id': user.id}) }}" class="text-success"><i class="icofont-ui-edit"></i></a>&nbsp;
                    <a href="{{ path('admin_del_user', {'id': user.id}) }}" class="text-danger"><i class="icofont-ui-delete"></i></a>&nbsp;
                        {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
