{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mofifier New{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-10 offset-1">
                <h2 class="display-4 my-3">Edition d'une new</h2>
                <div class="card mb-4">
                    {{ form_start(editNewForm) }}
                    {{ form_end(editNewForm) }}
                    <div>
                        <a class="" href="{{ path('admin-news') }}">Annuler</a>&nbsp;
                    </div>
                </div>
            </div>

        </section>
    </main>
{% endblock %}
