{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}News{% endblock %}

{% block body %}
    <h2 class="display-6  my-5 fw-lighter text-black-50">Gestion des News</h2>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <td>Image</td>
            <td>titre</td>
            <td>Creation</td>
            <td>Auteur</td>
            <td>Actions</td>

        </tr>
        </thead>
        <tbody>
        {% for new in news %}
            <tr>
                <td><img src="{{ asset('img/news/') ~ new.image }}"  alt="" class="admin-img"></td>
                <td>{{ new.name}}</td>
                <td>{{ new.createdAt|date('d/m/Y') }}</td>
                <td>{{ new.author.firstName }}{{ new.author.lastName }}</td>
                <td></td>
                <td>
                    <a href="{{ path('admin_edit-news', {'id': new.id}) }}" class="text-success"><i class="icofont-ui-edit"></i></a>&nbsp;

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
