{% extends 'base.html.twig' %}

{% block title %}{{ parent()}}Team{% endblock %}

{% block body %}
    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <main class="container">
        <!-- Categories -->
        <section id="Team">
            {#   <h2 class="my-5 text-black-50">Toutes nos catégories</h2>#}
            <div class="row">
                <!-- FILTERIZER CONTROLS -->
                <div class="col-md-12 controls-filter">
                    <h5>Filtres:</h5>


                    <ul>
                        <!-- For filtering controls add -->

                        <li data-filter="all" class="btn btn-outline-primary"> All Members </li><br>
                        <li  class="btn btn-outline-primary disabled">Admins</li>
                        {% for member in team %}
                            {% if member.roles|json_encode() = %}
                            <li data-filter="{{ member.roles}}" class="btn btn-outline-primary"> Admin </li>

                        {% endfor %}
                        <br>
                        <li  class="btn btn-outline-primary disabled"> Super admins</li>
                        {% for member in team %}
                            {% if member.roles|json_encode() =  %}
                            <li data-filter="{{ member.roles }}" class="btn btn-outline-primary"> Super Admin </li>
                        {% endfor %}
                    </ul>


                </div>
                <!-- FILTERIZER COURSES -->
                <div class="col-md-12 filter-container">
                    <!-- Card -->
                    {% for member in team %}
                        <div class="col-md-4 filtr-item" data-category="{{ member.roles|json_encode() }}" data-sort="value">
                            <div class="card m-3" style="min-height: 480px !important;">
                                <div class="card-header bg-light">
                                    <h5 class="text-center">{{ member.firstName }}{{ member.lastName }}</h5>
                                </div>
                                <div class="card-body">
                                    <img alt="" src="{{ asset('avatar/') ~ user.image }}">

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- End cards -->
                </div>
            </div>
        </section>
        <!-- End Categories -->
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script>
{% endblock %}
