{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Actualités{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-10 offset-1">
                <h2 class="display-4 text-center m-5 fw-lighter">Nos actualités</h2>
                {% for new in news %}
                    <div class="card mb-4">
                        <h5 class="card-header">{{ new.name }}</h5>
                        <div class="card-body row">
                            <div class="col-2">
                                <img src="{{ asset('img/news/') ~ new.image }}" class="card-img">
                            </div>
                            <div class="col-10">
                                <h6 class="card-title">{{ new.author.firstName }} {{ new.author.lastName }}</h6>
                                <p class="card-text">{{ new.content }}</p>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Created at: {{ new.createdAt|date('d/m/Y') }}
                        </div>
                    </div>
                {% endfor %}
                <div class="navigation">
                    {{ knp_pagination_render(news) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
