{% extends 'base.html.twig' %}

{% block title %}Récapitulatif{% endblock %}

{% block javascript %}

{% endblock %}

{% block body %}

<div class="text-center">
    <h2 class="display-4 text-center m-5 fw-lighter">Récapitulatif de ma commande</h2>

    <hr>
    <div>
        <p> Récap de ma commande</p>
        <table class="table  w-75 mx-auto mt-3">
            <thead>
            <tr>

                <th></th>
                <th scope="col">Cours</th>
                <th scope="col">Duree</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Niveau</th>
                <th scope="col">Prix</th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for course in panier %}
            <tr>
                <th><img src="{{ asset('img/sections/') ~ course.course.image }}" alt="{{ course.course.name }}" height="75px " class="rounded"></th>
                <td>{{ course.course.name }}</td>
                <td>{{ course.course.duration }}h</td>
                <td>{{ course.course.category.name }}</td><
                <td>{{ course.course.level.name }}</td>
                <td>{{ course.course.price|number_format(2, '.', ',') }}€</td>

                {% set total = total + course.course.price %}
                {% endfor %}

            </tr>


            </tbody>
        </table>
        <div class="text-md-end w-75 mx-auto mt-3">
            <p>Nombre de cours choisis: {{ panier|length }}</p>
            <p>Total: {{ total|number_format(2, '.', ',') }}€</p>
            <a class="btn btn-success" id="checkout-button">Payer</a>
        </div>


    </div>

</div>
{% endblock %}

{% block script %}

    <script type="text/javascript">

        var stripe = Stripe('pk_test_51KHjbrBssLTArLuWyqe1Bx1LMs5u0cGkUhCSvABFH5fhJwm0gX88CB8NjLrDQPEfjRehZCwlinkdZBavcHnCOpOu00dV2CsXkP');
        var checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click',function (){
            fetch('/commande/create-session/{{ reference }}',{
                method:'POST',
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session){
                if (session.error == 'order'){
                    window.location.replace('{{ path('order') }}');
                }
                else {
                    return stripe.redirectToCheckout({sessionId: session.id});
                }

            })
            .then(function (result){
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error){
                    alert(result.error.message);
                }
            })
            .catch(function (error){
                console.error("Error:",error);
            });
        });
    </script>

{% endblock %}


