{% extends 'base.html.twig' %}

{% block title %}Valiser la commande{% endblock %}

{% block body %}

<div class="text-center">
    <h2 class="display-4 text-center m-5 fw-lighter">Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande</p>
    <hr>
    <div>
       <p> Récap de ma commande</p>
        <table class="table  w-75 mx-auto mt-3">
            <thead>
            <tr>

                <th></th>
                <th scope="col">Cours</th>
                <th scope="col">Duree</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Niveau</th>
                <th scope="col">Prix</th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for course in panier %}
            <tr>
                <th><img src="{{ asset('img/sections/') ~ course.course.image }}" alt="{{ course.course.name }}" height="75px " class="rounded"></th>
                <td>{{ course.course.name }}</td>
                <td>{{ course.course.duration }}h</td>
                <td>{{ course.course.category.name }}</td><
                <td>{{ course.course.level.name }}</td>
                <td>{{ course.course.price|number_format(2, '.', ',') }}€</td>

                {% set total = total + course.course.price %}
                {% endfor %}

            </tr>


            </tbody>
        </table>
        <div class="text-md-end w-75 mx-auto mt-3">
            <p>Nombre de cours choisis: {{ panier|length }}</p>
            <p>Total: {{ total|number_format(2, '.', ',') }}€</p>
            <a href="{{ path('order_recap') }}" class="btn btn-outline-primary" >Valider la commande</a>
        </div>


    </div>

</div>
{% endblock %}
