{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}comments{% endblock %}

{% block body %}
    <h2 class="display-6  my-5 fw-lighter text-black-50">Gestion des Commentaires</h2>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <td>Titre</td>
            <td>Auteur</td>
            <td>Creation</td>
            <td>Note</td>
            <td>Actions</td>

        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr data-toggle="tooltip" data-placement="top" title="{{ comment.comment }}">
                <td >{{ comment.title}}</td>
                <td>{{ comment.author.firstName }}{{ comment.author.lastName }}</td>
                <td>{{ comment.createdAt|date('d/m/Y') }}</td>
                <td>{{ comment.rating }}</td>
                <td>
                    <a href="{{ path('admin_del_comment', {'id': comment.id}) }}" class="text-danger"><i class="icofont-ui-delete"></i></a>&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
