{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mofifier Mot de passe{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-10 offset-1">
                <h2 class="display-4 my-3">Modifier votre mot de passe </h2>

                <div class="card mb-4">

                    {{ form_start(editPasswordType) }}
                    {{ form_end(editPasswordType) }}




                <div>
                    <a class="" href="{{ path('home') }}">Acceuil</a>&nbsp;
                    <a class="" href="{{ path('profil') }}">Mon Compte</a>
                </div>

            </div>


            </div>

        </section>
    </main>
{% endblock %}
