{% extends 'base.html.twig' %}

{% block title %}info commande{% endblock %}

{% block body %}

    <main class="container mt-5">



        <a href="{{ path('profil') }}" class="btn btn-sm btn-outline-dark">Mes commandes</a>
        <hr>

        <h2 class="text-center ">Ma commande {{ order.reference }}</h2>

        <hr>

        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">Réference</th>
                <th scope="col">Date</th>
                <th scope="col">Cours</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>


                <tr>
                    <td ><strong>{{ order.reference }}</strong></td>
                    <td>{{ order.createdAt|date('d/m/Y-h:m') }}h</td>

                    {% for course in order.orderDetails %}

                        <td ><strong>{{ course.course }}</strong></td>
                        <td>{{ course.total|format_currency('EUR') }}</td>
                    {% endfor %}
                </tr>



            </tbody>
        </table>


    </main>
{% endblock %}
