{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}

    <main class="container mt-5">



        <a href="{{ path('profil') }}" class="btn btn-sm btn-outline-dark">Compte</a>
<hr>

        {% if orders|length ==0 %}

            <p class="text-center">Vous n'avez pas encore effectué d'achat</p>

        {% else %}
            <h2 class="text-center ">Mes commandes</h2>
<hr>
            <table class="table mt-5">
                <thead>
                <tr>
                    <th scope="col">Réference</th>
                    <th scope="col">Date</th>

                    <th scope="col">Cours</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}

                <tr>
                    <td ><strong>{{ order.reference }}</strong></td>
                    <td>{{ order.createdAt|date('d/m/Y-h:m') }}h</td>
                    <td>{{order.orderDetails|length}}</td>
                    <td>{{order.getTotal|format_currency('EUR')}}</td>
                    <td><a href="{{ path('account_order_info',{'reference':order.reference}) }}" class="text-decoration-none"> Voir ma commande</a></td>
                </tr>
                {% endfor %}


                </tbody>
            </table>

        <div class="row d-flex justify-content-between align-items-center">

    </div>

        {% endif %}

    </main>
{% endblock %}
