{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mon profil{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="text-center ">
                <h2 class="display-4 mt-5 text-center">Votre Profil </h2>

                    <div class=" mb-4">
{#   <div class="m-5 text-center" >

                    <img src="{{ asset('img/teachers/') ~ teacher.image }}" class=" rounded-circle border border-dark" style="object-fit: cover;width: 300px; /* You can set the dimensions to whatever you want */
    height: 300px;" alt="...">



                    <div class="card-body">
                        <h3 class="display-4 m-5 fw-lighter">{{ teacher.firstName }} {{ teacher.lastName }}</h3>
                        <p class="card-text">{{ teacher.description}}</p>
                        <p class="card-text">{{ teacher.email}}</p>
                        <a href="#" class="card-link text-black text-decoration-none"> <i class="icofont-linkedin icofont-2x"></i></a>
                        <a href="#" class="card-link text-black text-decoration-none"><i class="icofont-facebook icofont-2x"></i></a>
                        <a href="#" class="card-link text-black text-decoration-none"><i class="icofont-github icofont-2x"></i></a>
                    </div>
                    <a href="{{ path('teacher') }}" class="btn btn-outline-dark btn-sm">Retour</a>

                </div> #}
                        <div class="card-body">

                                <img src="{{ asset('img/avatar/') ~ app.user.image }}" alt="" class="rounded-circle text-center border border-dark border-1" style="object-fit: cover;height: 300px;width: 300px;">

                            <div class="">
                                <h5 class="display-4 m-5 fw-lighter">{{ app.user.firstname }}{{ app.user.lastname }}</h5>
                                <a class="btn btn-outline-dark" href="{{ path('edit_profil') }}">Modifier profil</a>&nbsp;
                                <a class="btn btn-outline-dark" href="{{ path('edit_password') }}">Modifier password</a>
                                <a class="btn btn-outline-dark" href="{{ path('account_order') }}">Mes Commandes</a>
                            </div>
                        </div>


                          {% if comments|length >=1  %}

                            <div class="dropdown ">

                                <button class="btn btn-outline-dark btn-sm"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <h5>Vos Commentaires</h5>
                                </button>


                            <lu class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                        {% for comment in comments %}
                            {% if comment.author.firstName is same as(app.user.firstName)%}


                                <li class="dropdown-item">
                                <p class="text-secondary">cours :{{comment.course.name}}</p>
                            <p>{{ comment.title}}</p>
                               {% include 'partials/rating.html.twig' %}

                                <p>{{ comment.comment}}</p>
                            <p class="text-secondary">Ajouté le {{ comment.createdAt|date('d/m/Y')}}</p>&nbsp;
                            <hr>
                            </li>

                            {% endif %}
                        {% endfor %}

                        </lu>

                        </div>
                                {% endif %}




                    </div>


            </div>
        </section>
    </main>
{% endblock %}
