{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block body %}

    <main class="container">

    <div class="text-center mt-5" >

<h2 class="display-4 text-center m-5 fw-lighter"">Commande Validée !</h2>
    <p>
        Merci {{ order.user.firstName}} {{ order.user.lastName}} pour votre commande n°<strong>{{ order.reference }}</strong> ! <br>
    Une confirmation vient de vous être envoyée à l'adresse <strong>{{ order.user.email }}</strong>
    </p>

        <hr>



        <p>Retrouvez votre commande dans <a href="{{ path('account_order') }}">votre espace membre</a>  </p>


    </div>
    </main>
{% endblock %}
